In [8]:
import os
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import time
from openbb import obb
import yfinance as yf

In [9]:
obb.user.preferences.output_type = "dataframe"

In [42]:
def get_stock_data_1m(symbol, start_date=None, end_date=None):
    data = obb.equity.price.historical(
        symbol,
        start_date=start_date,
        end_date=end_date,
        interval="5m",
        provider="yfinance",
    )
    data.reset_index(inplace=True)
    return data

In [43]:
stock = get_stock_data_1m("SPY", "2024-01-27","2025-01-29")

In [44]:
stock

,date,open,high,low,close,volume,dividend
0,2024-12-02 09:30:00,602.969971,603.679871,602.820801,603.424988,2669673,0.0
1,2024-12-02 09:35:00,603.429993,603.440002,602.956116,603.020020,588204,0.0
2,2024-12-02 09:40:00,603.010010,603.219971,602.700012,602.885010,552141,0.0
3,2024-12-02 09:45:00,603.065002,603.239990,602.809998,603.184998,698028,0.0
4,2024-12-02 09:50:00,603.179993,603.270020,602.750000,602.895020,405364,0.0
...,...,...,...,...,...,...,...
2951,2025-01-29 11:35:00,602.700012,602.960022,602.080017,602.111389,247352,0.0
2952,2025-01-29 11:40:00,602.140015,602.580078,601.929993,602.549988,113026,0.0
2953,2025-01-29 11:45:00,602.580017,602.840027,602.380005,602.799988,166486,0.0
2954,2025-01-29 11:50:00,602.849976,602.969971,602.549988,602.869995,185371,0.0
2955,2025-01-29 11:55:00,602.869995,602.869995,602.039917,602.250000,97356,0.0

In [24]:
dat = yf.Ticker("MSFT")

In [30]:
we = dat.history(interval='1m', start='2025-01-26', end='2025-01-29', prepost=True)

In [31]:
we

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-01-27 04:00:00-05:00,428.8000,430.0000,428.1000,428.4500,0,0.0,0.0
2025-01-27 04:01:00-05:00,428.9300,429.4900,428.9300,429.3900,0,0.0,0.0
2025-01-27 04:02:00-05:00,429.3200,429.3900,428.6900,428.7500,0,0.0,0.0
2025-01-27 04:03:00-05:00,428.6500,428.8700,428.1100,428.7100,0,0.0,0.0
2025-01-27 04:04:00-05:00,428.5100,429.4000,428.1500,429.4000,0,0.0,0.0
...,...,...,...,...,...,...,...
2025-01-28 19:55:00-05:00,446.5100,446.8800,446.5000,446.8705,0,0.0,0.0
2025-01-28 19:56:00-05:00,446.5000,446.8705,446.5000,446.7600,0,0.0,0.0
2025-01-28 19:57:00-05:00,446.8543,446.9000,446.5000,446.7000,0,0.0,0.0
2025-01-28 19:58:00-05:00,446.8999,446.9000,446.6075,446.7480,0,0.0,0.0
2025-01-28 19:59:00-05:00,446.7800,447.0000,446.6000,446.7000,0,0.0,0.0